.containerFlightADD {
    padding: 2%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #E0E3E5;
    border-radius: 7px;
}

.col-3 {
    display: flex;
    flex-direction: coloumn;
    flex: 0.7;
}

.row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
}

.row-2 {
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.airlineLogoFlightADD {
    margin-left: 1%;
    width: 50px;
}

.important {
    width: 15.75px;
    height: 15.75px;
    vertical-align: middle;
}


.baggage-1 {
    display: flex;
    flex-direction: row;
}

.baggage-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 7px;
    background-color: #E0E3E5;
}

.baggage {
    display: flex;
    flex-direction: column;
}

.card-1 {
    margin-top: 1%;
    background-color: #E0E3E5;
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baggageImage {
    width: 150px;
}

.insurance {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 3%;
    background-color: #E0E3E5;
}

.insurance-1 {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    background-color: white;
    border: #E0E3E5 solid 1px;
    justify-content: space-around;
    padding: 1.5%;
}


.insurance-2 {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.insurance-Text {
    font-size: 15px;
    font-weight: 400;
    color: black;
    margin: 1%;
}

.buttonContinue {
    margin: 0 auto;
    background-color: #08243c;
    color: #ffffff;
    padding: 10px; /* Adjust the padding to make the button smaller */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }