.containerCheckout {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.columnInformations {
  margin: 10;
  padding: 10px;
}

.buttonSearchhotels {
  display: block;
  margin: 0 auto;
  background-color: #08243c;
  color: #ffffff;
  padding: 10px; /* Adjust the padding to make the button smaller */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 50%; /* Adjust the width to control the button's size */
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px; /* Adjust the margin for spacing */
}

.airlineLogo {
  flex: 1;
  width: 50px;
}