.trainsContainer{
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .trainsTitle{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .trainsFeatured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  .containerTrain {
    width: 80%;
    display: grid;
    flex-direction: column;
    gap: 50px; /* This adds some space between your flight cards */
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    grid-gap: 50px;
    /* Other styling as needed */
  }
