.loginheader {
  background-color: #08243c;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;

}
.logintexttitle {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin-top: 115px;
}


.login{
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
 
}



/* Rest of the styles remain the same */



.form {
  margin-right: 40%;
  padding: 20px;
  
}

.label {
  display: block;
  margin: 5px;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}
/* Your existing styles remain the same */

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #3498db;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #007bff;
}

/* Additional styles for the placeholder effect */
.input::placeholder {
  color: #777;
}

.input:focus::placeholder {
  color: transparent;
}


.button {
  display: block;
  margin: 0 auto;
  background-color: #08243c;
  color: #ffffff;
  padding: 10px; /* Adjust the padding to make the button smaller */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%; /* Adjust the width to control the button's size */
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px; /* Adjust the margin for spacing */
}


.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.frame {
  position: absolute;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px/2 + 423px);
  top: calc(910px/2 - 4px);
  background: #05203C;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.frame2 {
  position: absolute;
  width: 200px;
  height: 50px;
  left: calc(50% - 200px/2 + 423px);
  top: calc(1250px/2 - 4px);
  background: #05203C;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.resetnowbutton {
  font-weight: bold;
  color: #ffffff;
}
.textresetnow {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 60px;
  left: calc(50% - 200px/2 + 423px);
  top: calc(760px/2 - 4px);
  color: #05203C;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

}
.textresetnow1 {
  position: absolute;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 60px;
  left: calc(50% - 200px/2 + 423px);
  top: calc(1100px/2 - 4px);
  color: #05203C;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

} 

.buttoncreateaccount {
  font-weight: bold;
  color: #ffffff;
}








