.header {
  background-color: hsl(208, 76%, 13%);
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.headerContainer {
  padding: 2%;
}


.headerTitle {
  text-align: center;
  padding: 1%;
}



.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #1074e4;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.searchInputGroup {
  display: flex;
  border-radius: 4px; /* Match this to your design */
}


.headerSearchText {
  color: lightgray;
  cursor: pointer;
}


.date {
  position: absolute;
  top: 50px;
  z-index: 4;
}





.optionCounterButton:disabled {
  cursor: not-allowed;
}


/* Additional styles for the calendar */
.react-date-range {
  font-family: 'Helvetica', sans-serif; /* Example font */
}

.rdrDateRangeWrapper {
  border: 1px solid #ccc; /* Match border to inputs */
  border-radius: 4px; /* Match border-radius to inputs */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Match shadow to input fields */
}

.rdrMonthAndYearWrapper {
  background-color: #f8f8f8; /* A light background for the header */
  color: #08243c; /* Dark text for contrast */
}

.rdrMonthAndYearPickers {
  background-color: transparent; /* Avoid conflicting backgrounds */
}

.rdrNextPrevButton {
  fill: #08243c; /* Color for arrows */
}

.rdrDay {
  border: none; /* Remove individual day borders */
}

.rdrDayToday .rdrDayNumber span:after {
  background: #1074e4; /* Highlight color for today */
}

.rdrDayHovered,
.rdrDayActive {
  background-color: #e6f7ff; /* Hover state background */
  border-radius: 4px; /* Rounded hover state */
}

.rdrDayNumber {
  color: #08243c; /* Color of the day numbers */
}

.rdrDayPassive .rdrDayNumber span,
.rdrDayDisabled .rdrDayNumber span {
  color: #ccc; /* Style for disabled or non-current month days */
}

.rdrDefinedRangesWrapper,
.rdrStaticRanges {
  display: none; /* Hide predefined ranges if not needed */
}

/* Adjust width and height of calendar */
.rdrCalendarWrapper {
  width: auto; /* Adjust width as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .rdrCalendarWrapper, .calendarElement {
    width: 100%;
    left: 0;
    transform: none;
    top: 100%; /* Position it right below the input fields */
  }
}


