.fligth-checkout {
    align-items: center;
    background-color: #ffffff;
    display: grid;
    gap: 8px;
    height: 3149px;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    grid-template-columns: 1fr 1fr; /* Duas colunas com largura igual */
    grid-gap: 20px;
  }

/* .fligth-checkout .frame {
    background-color: #0772e4;
    height: 92px;
    position: relative;
    width: 1440px;
  }
  
  .fligth-checkout .overlap-group {
    height: 92px;
    position: relative;
    width: 1406px;
  }
  
  .fligth-checkout .bd-d {
    height: 88px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 104px;
  }
  
  .fligth-checkout .bd-d-wrapper {
    background-color: #0772e4;
    height: 92px;
    left: 0;
    position: absolute;
    top: 0;
    width: 910px;
  }
  
  .fligth-checkout .group {
    height: 52px;
    left: 671px;
    position: absolute;
    top: 20px;
    width: 735px;
  }
  
  .fligth-checkout .navbar {
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    width: 691px;
  }
  
  .fligth-checkout .text-wrapper {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 216px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 274px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-2 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 347px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-3 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 419px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-4 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 488px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .news-delays {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 16px;
    left: 584px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 17px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-2 {
    background-image: url(../../static/img/agnmyxyo29prhtkqtim6d9ghzevnozndu6qvty44twmw-s96-c.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 18px;
    height: 36px;
    left: 699px;
    position: absolute;
    top: 8px;
    width: 36px;
  }
  
  .fligth-checkout .div-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    padding: 0px 115.2px 0px 16px;
    position: relative;
    width: 1150px;
  }
  
  .fligth-checkout .div-4 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
  }
  
  .fligth-checkout .div-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .fligth-checkout .span-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 0px 216.52px 16px 0px;
    position: relative;
  }
  
  .fligth-checkout .span {
    background-color: #eff1f2;
    border-radius: 4px;
    height: 36px;
    position: relative;
    width: 280.27px;
  }
  
  .fligth-checkout .div-6 {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    left: 8px;
    padding: 8px 23.27px 8px 16px;
    position: relative;
    top: 4px;
  }
  
  .fligth-checkout .svg {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .fligth-checkout .no-pressure-it-s {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-7 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .fligth-checkout .p {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 396.5px;
    position: relative;
  }
  
  .fligth-checkout .span-2 {
    height: 32px;
    position: relative;
    width: 144.3px;
  }
  
  .fligth-checkout .text-wrapper-5 {
    color: #111236;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 32px;
    left: 0;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .fligth-checkout .img {
    height: 16px;
    left: 132px;
    position: absolute;
    top: 10px;
    width: 16px;
  }
  
  .fligth-checkout .text-wrapper-6 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-8 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px 8px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-7 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .input-root-your {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 13.5px 249.8px 13.5px 17px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-8 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-9 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 13px;
    height: 251px;
    padding: 24px 0px 8px;
    position: relative;
  }
  
  .fligth-checkout .div-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 13.5px 251.8px 13.5px 17px;
    position: relative;
  }
  
  .fligth-checkout .div-10 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    height: 146px;
    margin-bottom: -25px;
    padding: 0px 0px 8px;
    position: relative;
  }
  
  .fligth-checkout .span-3 {
    height: 56px;
    position: relative;
    width: 557px;
  }
  
  .fligth-checkout .div-11 {
    height: 48px;
    left: 2px;
    position: absolute;
    top: -7px;
    width: 163px;
  }
  
  .fligth-checkout .text-wrapper-9 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-10 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 189px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .fligth-checkout .dialing-code-wrapper {
    height: 48px;
    left: 1px;
    position: absolute;
    top: 8px;
    width: 163px;
  }
  
  .fligth-checkout .dialing-code {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: flex;
    gap: 42px;
    padding: 13px 11px 13px 19px;
    position: relative;
    top: -13px;
    width: 151px;
  }
  
  .fligth-checkout .text-wrapper-11 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    width: 65px;
    z-index: 1;
  }
  
  .fligth-checkout .image {
    height: 16px;
    margin-right: -2px;
    position: relative;
    width: 16px;
    z-index: 0;
  }
  
  .fligth-checkout .overlap-group-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 187px;
    position: absolute;
    top: -6px;
    width: 369px;
  }
  
  .fligth-checkout .text-wrapper-12 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 7px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-12 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 0px 0px 8px;
    position: relative;
  }
  
  .fligth-checkout .span-4 {
    height: 25px;
    position: relative;
    width: 557px;
  }
  
  .fligth-checkout .div-13 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 163px;
  }
  
  .fligth-checkout .text-wrapper-13 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-14 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 246px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 7px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-14 {
    height: 48px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 219px;
  }
  
  .fligth-checkout .dialing-code-2 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: flex;
    gap: 12px;
    padding: 13px 11px 13px 19px;
    position: relative;
    width: 219px;
  }
  
  .fligth-checkout .text-wrapper-15 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    width: 179px;
  }
  
  .fligth-checkout .overlap-group-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 245px;
    position: absolute;
    top: 8px;
    width: 311px;
  }
  
  .fligth-checkout .text-wrapper-16 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 22px;
    left: 19px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    top: 11px;
    width: 179px;
  }
  
  .fligth-checkout .div-15 {
    height: 48px;
    position: relative;
    top: 8px;
    width: 219px;
  }
  
  .fligth-checkout .dialing-code-3 {
    align-items: center;
    background-color: #c5c5c5;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: flex;
    gap: 12px;
    padding: 13px 11px 13px 19px;
    position: relative;
    width: 219px;
  }
  
  .fligth-checkout .text-wrapper-17 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 171px;
  }
  
  .fligth-checkout .div-16 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-18 {
    color: #111236;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-17 {
    height: 140px;
    position: relative;
    width: 556.8px;
  }
  
  .fligth-checkout .text-wrapper-19 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-20 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 500;
    height: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 115px;
    white-space: nowrap;
  }
  
  .fligth-checkout .input-root-your-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: flex;
    left: 0;
    padding: 13.5px 376.8px 13.5px 17px;
    position: absolute;
    top: 64px;
    width: 557px;
  }
  
  .fligth-checkout .text-wrapper-21 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20.8px;
    margin-right: -78.8px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-18 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0px 8px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-22 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .overlap-group-4 {
    height: 48px;
    left: 1px;
    position: relative;
    top: 8px;
    width: 556px;
  }
  
  .fligth-checkout .div-19 {
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 163px;
  }
  
  .fligth-checkout .dialing-code-4 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: flex;
    gap: 12px;
    padding: 13px 11px 13px 19px;
    position: relative;
    width: 112px;
  }
  
  .fligth-checkout .image-2 {
    height: 16px;
    margin-right: -11px;
    position: relative;
    width: 16px;
    z-index: 0;
  }
  
  .fligth-checkout .input-root-your-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 122px;
    position: absolute;
    top: 0;
    width: 433px;
  }
  
  .fligth-checkout .input-root-payment {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 13.5px 356.8px 13.5px 17px;
    position: relative;
  }
  
  .fligth-checkout .div-20 {
    height: 324.39px;
    position: relative;
    width: 556.8px;
  }
  
  .fligth-checkout .overlap-group-5 {
    height: 222px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 557px;
  }
  
  .fligth-checkout .div-21 {
    height: 199px;
    left: 0;
    position: absolute;
    top: 0;
    width: 557px;
  }
  
  .fligth-checkout .div-22 {
    align-items: flex-start;
    display: inline-flex;
    gap: 8px;
    left: 0;
    padding: 0px 8px 5.8px 0px;
    position: absolute;
    top: 48px;
  }
  
  .fligth-checkout .img-2 {
    height: 24px;
    position: relative;
    width: 40px;
  }
  
  .fligth-checkout .text-wrapper-23 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 11px;
    font-weight: 500;
    height: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 84px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-23 {
    align-items: center;
    background-color: #eff1f2;
    border-radius: 4px;
    display: inline-flex;
    gap: 66.02px;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 119px;
  }
  
  .fligth-checkout .text-wrapper-24 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .a {
    border-color: #c2c9cd;
    border-left-style: solid;
    border-left-width: 1px;
    height: 24px;
    position: relative;
    width: 150.78px;
  }
  
  .fligth-checkout .frame-2 {
    height: 24px;
    left: 17px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .fligth-checkout .text-wrapper-25 {
    color: #0062e3;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 49px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 102px;
  }
  
  .fligth-checkout .text-wrapper-26 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 198px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-24 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 263px;
    width: 557px;
  }
  
  .fligth-checkout .input-root-payment-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 13.5px 485.8px 13.5px 17px;
    position: relative;
  }
  
  .fligth-checkout .div-25 {
    height: 129.8px;
    position: relative;
    width: 556.8px;
  }
  
  .fligth-checkout .div-26 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 68px;
    width: 105px;
  }
  
  .fligth-checkout .i {
    height: 36px;
    left: 113px;
    position: absolute;
    top: 72px;
    width: 105px;
  }
  
  .fligth-checkout .div-27 {
    height: 120px;
    position: relative;
    width: 556.8px;
  }
  
  .fligth-checkout .text-wrapper-27 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 23px;
    white-space: nowrap;
  }
  
  .fligth-checkout .input-root-payment-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 64px;
    width: 557px;
  }
  
  .fligth-checkout .select-root-payment {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #c2c9cd;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 410.8px;
    padding: 13px 17px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-28 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    z-index: 1;
  }
  
  .fligth-checkout .image-3 {
    height: 16px;
    position: relative;
    width: 16px;
    z-index: 0;
  }
  
  .fligth-checkout .select-root-payment-2 {
    height: 48px;
    object-fit: cover;
    position: relative;
    width: 556.8px;
  }
  
  .fligth-checkout .button {
    all: unset;
    align-items: flex-start;
    background-color: #05203c;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 6px 262.02px 6px 257.78px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-29 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .by-continuing-you-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 9.61px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .by-continuing-you {
    color: transparent;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    width: 547.18px;
  }
  
  .fligth-checkout .text-wrapper-30 {
    color: #545860;
  }
  
  .fligth-checkout .text-wrapper-31 {
    color: #0062e3;
  }
  
  .fligth-checkout .div-28 {
    align-items: flex-start;
    background-color: #eff1f2;
    display: flex;
    height: 2472px;
    margin-right: -115.2px;
    padding: 40px 40px 922.53px;
    position: relative;
    width: 561px;
  }
  
  .fligth-checkout .div-29 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    margin-right: -15px;
    position: relative;
  }
  
  .fligth-checkout .div-30 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 24px;
    position: relative;
  }
  
  .fligth-checkout .div-31 {
    height: 38px;
    position: relative;
    width: 448px;
  }
  
  .fligth-checkout .div-32 {
    height: 32px;
    left: 3px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-32 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 23px;
    font-weight: 700;
    height: 32px;
    left: 0;
    letter-spacing: 0;
    line-height: 32px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-33 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 12px 0px 0px 12px;
    display: inline-flex;
    height: 145.59px;
    padding: 16px;
    position: relative;
  }
  
  .fligth-checkout .div-34 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .fligth-checkout .div-35 {
    height: 53.59px;
    position: relative;
    width: 375.16px;
  }
  
  .fligth-checkout .text-wrapper-33 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    left: 18px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 47px;
  }
  
  .fligth-checkout .div-36 {
    align-items: flex-start;
    display: inline-flex;
    left: 83px;
    padding: 0px 0.03px 0px 0px;
    position: absolute;
    top: 0;
  }
  
  .fligth-checkout .div-37 {
    height: 53.59px;
    position: relative;
    width: 93.62px;
  }
  
  .fligth-checkout .text-wrapper-34 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    left: 32px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: right;
    top: 3px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-35 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 24px;
    left: 63px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    text-align: right;
    top: 27px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-38 {
    height: 53.59px;
    position: relative;
    width: 105.34px;
  }
  
  .fligth-checkout .text-wrapper-36 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    left: 30px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    text-align: center;
    top: 2px;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-39 {
    align-items: flex-start;
    display: inline-flex;
    gap: 4.28px;
    left: 4px;
    padding: 3px 0.83px 1.8px 1.92px;
    position: absolute;
    top: 31px;
  }
  
  .fligth-checkout .text-wrapper-37 {
    color: #e70866;
    font-family: "Roboto", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-40 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0px 0px 1px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-38 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .span-5 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 2.39px;
    margin-left: -0.08px;
    padding: 0px 0px 0px 1px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-39 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-41 {
    background-color: #545860;
    border-radius: 8px;
    height: 2px;
    left: 9px;
    position: absolute;
    top: 25px;
    width: 88px;
  }
  
  .fligth-checkout .span-6 {
    background-color: #e70866;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    height: 6px;
    left: 34px;
    position: absolute;
    top: -2px;
    width: 6px;
  }
  
  .fligth-checkout .span-7 {
    background-color: #e70866;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    height: 6px;
    left: 47px;
    position: absolute;
    top: -2px;
    width: 6px;
  }
  
  .fligth-checkout .svg-layer {
    height: 16px;
    left: 76px;
    position: absolute;
    top: -7px;
    width: 16px;
  }
  
  .fligth-checkout .div-42 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 20.12px 1.59px 4px;
    position: relative;
  }
  
  .fligth-checkout .div-43 {
    height: 28px;
    position: relative;
    width: 69.5px;
  }
  
  .fligth-checkout .text-wrapper-40 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 700;
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .fligth-checkout .text-wrapper-41 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 9px;
    font-weight: 400;
    height: 16px;
    left: 59px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-44 {
    height: 52px;
    position: relative;
    width: 375.16px;
  }
  
  .fligth-checkout .div-45 {
    background-image: url(../../static/img/ek-png.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 30px;
    left: 0;
    position: absolute;
    top: 12px;
    width: 60px;
  }
  
  .fligth-checkout .div-46 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 4px 4px 0px 27.62px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-42 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .text-wrapper-43 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-47 {
    height: 52px;
    position: relative;
    width: 105.34px;
  }
  
  .fligth-checkout .div-48 {
    align-items: flex-start;
    display: inline-flex;
    gap: 4.23px;
    left: 4px;
    padding: 3px 20.5px 1.8px 20.61px;
    position: absolute;
    top: 31px;
  }
  
  .fligth-checkout .span-8 {
    background-color: #e70866;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px #ffffff;
    height: 6px;
    left: 41px;
    position: absolute;
    top: -2px;
    width: 6px;
  }
  
  .fligth-checkout .div-49 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 21.92px 0px 4px;
    position: relative;
  }
  
  .fligth-checkout .div-50 {
    height: 28px;
    position: relative;
    width: 67.7px;
  }
  
  .fligth-checkout .text-wrapper-44 {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 9px;
    font-weight: 400;
    height: 16px;
    left: 57px;
    letter-spacing: 0;
    line-height: 16px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .fligth-checkout .div-51 {
    align-items: flex-start;
    background-color: #ffffff;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 24px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .div-52 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    padding: 0px 0px 24px;
    position: relative;
  }
  
  .fligth-checkout .div-53 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 85px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-45 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-54 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 81px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .div-55 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 150px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-46 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-56 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 161px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .div-57 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flex;
    height: 252px;
    padding: 24px;
    position: relative;
  }
  
  .fligth-checkout .div-58 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -24px;
    position: relative;
  }
  
  .fligth-checkout .div-59 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 332.72px;
    padding: 16px 3.28px 16px 0px;
    position: relative;
    width: 432px;
  }
  
  .fligth-checkout .text-wrapper-47 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-60 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0px;
    position: relative;
  }
  
  .fligth-checkout .div-61 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 293.23px;
    padding: 0px 2.77px 8px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-48 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    width: 45px;
  }
  
  .fligth-checkout .div-62 {
    align-items: flex-start;
    background-color: #ffffff01;
    box-shadow: inset 0px 2px 0px #c2c9cd;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 24px 0px 32px;
    position: relative;
  }
  
  .fligth-checkout .div-63 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 291.7px;
    padding: 0px 1.3px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-49 {
    color: #111236;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .div-64 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .fligth-checkout .div-65 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-flex;
    height: 159px;
    padding: 24px;
    position: relative;
  }
  
  .fligth-checkout .div-66 {
    height: 224px;
    margin-bottom: -113px;
    position: relative;
    width: 448px;
  }
  
  .fligth-checkout .div-67 {
    align-items: flex-start;
    display: inline-flex;
    gap: 18.66px;
    left: 0;
    padding: 0px 251.34px 0px 0px;
    position: absolute;
    top: 0;
  }
  
  .fligth-checkout .svg-2 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .fligth-checkout .text-wrapper-50 {
    color: #161616;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .free-cancellation {
    color: #545860;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 39px;
    width: 448px;
  }
  
  .fligth-checkout .auto-layout {
    align-items: flex-end;
    background-color: #05203c;
    display: flex;
    gap: 24px;
    height: 321px;
    left: -2px;
    padding: 60px 194.41px 104px;
    position: absolute;
    top: 2828px;
    width: 1442px;
  }
  
  .fligth-checkout .frame-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    margin-top: -24px;
    padding: 0px 0px 153px;
    position: relative;
  }
  
  .fligth-checkout .frame-3 {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    height: 28px;
    position: relative;
    width: 244.8px;
  }
  
  .fligth-checkout .image-4 {
    height: 10px;
    left: 10px;
    position: absolute;
    top: 9px;
    width: 13px;
  }
  
  .fligth-checkout .auto-layout-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 6.16px;
    left: 27px;
    padding: 0px 0px 0px 2px;
    position: absolute;
    top: 6px;
  }
  
  .fligth-checkout .text-wrapper-51 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .auto-layout-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 0.39px 0px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-52 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .auto-layout-vertical {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    margin-top: -24px;
    padding: 0px 14.8px 89px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-53 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .text-wrapper-54 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .auto-layout-vertical-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    margin-top: -24px;
    padding: 0px 137.8px 53px 0px;
    position: relative;
  }
  
  .fligth-checkout .text-wrapper-55 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .fligth-checkout .auto-layout-vertical-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    margin-top: -28px;
    padding: 1px 6px 11px;
    position: relative;
  }
  
  .fligth-checkout .frame-4 {
    height: 25px;
    position: relative;
    width: 232.8px;
  }
  
  .fligth-checkout .text-wrapper-56 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .fligth-checkout .frame-5 {
    height: 18px;
    left: 215px;
    position: absolute;
    top: 3px;
    width: 18px;
  }
  
  .fligth-checkout .text-wrapper-57 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 13px;
    font-weight: 700;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
  }
  
  .fligth-checkout .group-2 {
    height: 36px;
    left: 522px;
    position: absolute;
    top: 234px;
    width: 400px;
  }
  
  .fligth-checkout .text-wrapper-58 {
    color: #eff1f2;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 396px;
  }
  
  .fligth-checkout .text-wrapper-59 {
    color: #eff1f2;
    font-family: "Roboto", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 16px;
    left: 91px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 20px;
    white-space: nowrap;
    width: 190px;
  } */