.infoContainerRegister {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1%;
}

.infoContainer1Register {
  flex: 1;
  margin: 0 auto;
  padding: 15px;
}

.register-button {
    display: block;
    background-color: #08243c;
    color: #ffffff;
    width: 190px;
    height: 50px;
    /* Adjust the padding to make the button smaller */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.register-button-container {
  display: flex;
  padding-top: 2%;
  justify-content: end; /* Aligns content to the right */
}